
<%= render  "shared/errors", obj: @article %>
  <%= form_for(@article, :html => {class: "card border-0", role: "form"}) do |f|%>
    <div class="form-group row ">
      <%= f.label :title, class: "col-3 col-md-2 align-self-center" %>
      <%= f.text_field :title, class: "form-control col-6", placeholder: "Title of article", autofocus: true %>
    </div>
    
    <div class="form-group row">
      <%= f.label :description, class: "col-3 col-md-2" %>  
      <%= f.text_area :description, rows: 5, class: "form-control col-6", placeholder: "Description of article" %>
    </div>

    <div class="row card-footer">
      <%= f.submit class: "btn btn-primary"%>
      <%= link_to 'View all', articles_path, class: "btn btn-secondary mx-3" %>
    </div>
  <% end %>